@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .transition-max-height {
      transition: max-height 0.5s ease-in-out;
    }
  }

@layer utilities {
.h-calc-100vh-minus-4rem {
    height: calc(100vh - 4rem);
}
}

@layer utilities {
    .login-center {
      position: absolute;
      left: calc(50%);
      transform: translateX(-50%);
    }
  }